/* Reset some default browser styles */
 @media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Set a default font for better compatibility */
    text-align: center;
}


.top-left-image { 
position: fixed; /* Position the image absolutely */ 
top: 25px; /* Adjust the top position as needed */ 
left: 0px; /* Adjust the left position as needed */ 
width: 100px; /* Set your preferred width */ height: auto; /* Maintain aspect ratio */
 }

#about {
    margin-top: 100px; 
}

#logo {
 width: max(30px, 16vw);
background-color: #0a0a23;
  aspect-ratio: 60 / 45;
padding: 0.1rem;
max-height: 90%;
border-radius: 30px; 
margin-left: 1rem;
}

/* Style the navigation bar */
nav {
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
.menu-exit, .menu-toggle {
        display: none; 
}

#android {
    display: none;
}
iframe {
    height: 300px; 
}

}
/* Responsive design using media queries */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start; /* Align items to the left */
    }
    
    
#desktop {
    display: none;
}
    #largeul {
        display: none; /* Hide the menu items by default on small screens */
        width: 100%; /* Take up the full width */
        margin-top: 10px; /* Add some space below the logo */
    }

    li {
        margin: 10px 0; /* Add spacing between stacked menu items */
    }

    .menu-toggle, .menu-exit {
        display: block; /* Show the menu toggle button */
        font-size: 24px;
        cursor: pointer;
    }
   
    
}
.info-panel {
    display: none;
    position: fixed;
    top: 0;
    right: -300px; /* Off-screen to the right */
    background-color: #333;
    color: #fff;
    width: 300px;
    height: 100%;
    padding: 20px;
    transition: right 0.3s; /* Add a transition for smooth sliding effect */
    text-align: left;     
}

header {
  width: 100%;
	height: 100px;
	background-color: #1b1b32;
	display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  background-color: #333;
  color: #fff;
}
#nav-link {
    margin: 6px; 
    text-align: center; 
}
.menu-exit {
    text-align: left; 
}
#home {
            background-color: #35424a;
            color: white;
            padding: 10px 0;
            text-align: center;
            margin-top: 50px; 
            width: 100%;
        }
        
       
.sec-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        .services {
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
        }

img {
    height: auto;
    max-width: 100%;
    aspect-ratio: 25 / 20;
    border-radius: 40px; 
}


footer {
            background-color: #35424a;
            color: white;
            text-align: center;
            padding: 10px 0;
            width: 100%;
        }

label {
    margin: 60px; 
}
header nav div ul li a {
    color: #fff; 
}
select {
    border: 0px; 
    background-color: #fff;
    text-align: right;
}
#screenshot {
    aspect-ratio: 10 / 25;
    height: 300px; 
    border-radius: 4px; 
}
.contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 2rem; 
  }
  i {
      margin: 5px; 
  }
.fa-whatsapp {
    margin-left: 1px; 
}


/* Styles for the pop-up ad container */
.popup, .popup-second {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.popup-content, .popup-content-second {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

/* Style for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
/* Style for Font Awesome-like icon */
.fa-like-icon {
  width: 24px; /* Set your preferred width */
  height: 24px; /* Set your preferred height */
  display: inline-block;
  margin-right: 8px; /* Adjust margin as needed */
  vertical-align: middle; /* Align with text vertically */
  /* Add more styles based on your design preferences */
}


/*Styling the contact section */
.contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 2rem; 
  }
  i {
      margin: 5px; 
  }
.fa-whatsapp {
    margin-left: 1px; 
    color: green;
}

.fa-instagram, .fa-youtube {
    color: red;
}


.contact a {
    font-size: 2rem; 
}

#check-btn {
  border-radius: 20px;
}           

/*style ends*/
.CV-img {
    height: 300px; 
    border-radius: 20px; 
}
